/*Estilos da página index.html*/

body{
    
   background-image:linear-gradient(rgba(41, 58, 156, 0.5), rgba(167, 171, 204, 0.692));
   
}

.justify{
    font-size: 20px;
    text-align: justify;
}

.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 30px;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: gray;
}

.p-30{
    padding: 30px;
}

.br-50{
    
    border-radius: 50%;
    border-bottom: 2mm ridge rgba(40, 8, 128, 0.6);
}

.wh-300{
    width: 300px;
    height: 200px;
}

.logo{
    width: 30px;
    height: 30px;
}

.mg-50{
    margin-bottom: 50px;
}


/*Estilos da página contato.html*/

.ml-50{
    margin-left: 50px;
}